body{
   
   background-image: url(/images/todolist.jpg);
   color: rgb(217, 255, 0);
}
.island{
    max-width:100%;
    border-radius:8px;
    background-color:rgba(89, 11, 190, 0.89);
    margin-top:50px;

}
.island__item{
    padding:16px;
}
.island__item_flex{
    display:flex;
    align-items:center;
}

.island__item_hidden{
    display: none;
}

.island__item + .island__item{
    border-top:1px solid rgba(34,34,34,10%)
}

.fallback-list{
    display: none;
}

.fallback-list:first-child:last-child{
    display:block;
}

.list{
    width: 100%;
}

.list__item{
    display: flex;
    list-style: none;
    align-items:center;
}